.header {
  overflow: hidden;
  background-color:#f2f2f2;
  margin-top: 0px;
  padding-top: 0px;
  /*padding: 20px 10px;*/
}

.header a {
  color: green;
  text-align: center;
  font-weight: bold;
  padding-left:80px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 30px;
  /*line-height: 25px;*/
  border-radius: 4px;
  margin-top: 0px;
}

.header a.logo {

  padding: 0px;
  margin: 0px;
  float: left;
}
.clg-name{
  position: absolute;
  margin-top:50px;  
}

.project-name p{
color: white;
font-weight: bold;
font-size: 20px;
text-align: center;
margin-top: 0px;
background-color:#4d4d4d;
padding: 20px 10px;
}

.t-portal p{
color: red;
font-weight: bold;
font-size: 20px;
text-align: center;
margin-top: 0px;

}


.main{
overflow: hidden;  
margin-right:100px;
margin-left: 20px;
}

.w-container{
  padding: 20px 200px;
  margin-top:20px;
  float: left;
  border-right: 2px solid black; 
  }

h4{
  color: #002db3;
}

.section-2{
  float: right;
  margin-top:20px;
 padding:20px 50px;
 margin-right: 50px; 
}

.footer {
  overflow: hidden;
  background-color: #ddd;
  border-radius: 20px;
  bottom: 10px;
  /*padding: 20px 10px;*/
}

.left{
 padding:20px;
 padding-left: 100px;
 float: left;
}

.right{
  padding:20px;
  padding-right:100px; 
  float:right;
}
.regbtn {
   border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.logbtn {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
